<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>HR application</title>
</head>
<body>
<h1 th:object="${employee_to_edit}" th:text="'Edit details of employee ' + *{name}">Employee</h1>

<h3>Edit employee:</h3>
<form th:action="@{'/employees/' + *{id} + '/edit'}" method="post" th:object="${employee_to_edit}">
    <table>
        <tr><td>Name:</td><td><input th:field="*{name}"/></td></tr>
        <tr><td>Position:</td><td><input th:field="*{position}"/></td></tr>
        <tr><td>Start of work:</td><td><input type="datetime-local" th:field="*{startDateTimeOfWork}"/></td></tr>
        <tr>
            <td style="text-align:left"><input type="submit" value="Cancel" name="cancel"></td>
            <td style="text-align:right"><input type="submit" value="Save changes" name="save"></td>
        </tr>
    </table>
</form>

</body>
</html>