<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>HR application</title>
</head>
<body>
<h1>Welcome to the HR application</h1>

<h3>List of employees:</h3>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Position</th>
        <th>Salary</th>
        <th>Start of work</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.value.id}">id</td>
        <td>
            <a th:text="${employee.value.name}" th:href="@{'employees/' + ${employee.value.id}}">name</a>
        </td>
        <td th:text="${employee.value.position}">position</td>
        <td th:text="${employee.value.salary}">salary</td>
        <td th:text="${employee.value.startDateTimeOfWork}">startOfWork</td>
        <td>
            <a th:href="@{'employees/' + ${employee.value.id}} + '/delete'">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<h3>New employee:</h3>
<form th:action="@{/employees}" method="post" th:object="${newEmployee}">
    <table>
        <tr><td>Id:</td><td><input type="number" th:field="*{id}"/></td></tr>
        <tr><td>Name:</td><td><input th:field="*{name}"/></td></tr>
        <tr><td>Position:</td><td><input th:field="*{position}"/></td></tr>
        <tr><td>Start of work:</td><td><input type="datetime-local" th:field="*{startDateTimeOfWork}"/></td></tr>
        <tr><td><input type="submit" value="Add"></td></tr>
    </table>
</form>

</body>
</html>